USER='USER_NAME'

# Path to your oh-my-zsh installation.
export ZSH="/Users/$USER/.oh-my-zsh"

# Set name of the theme to load
ZSH_THEME="spaceship"

# Disable magic functions if pasting URLs is messed up
DISABLE_MAGIC_FUNCTIONS=true

# Enable command auto-correction
ENABLE_CORRECTION="true"

# Which plugins would you like to load?
# (Retrait de zsh-z pour éviter tout conflit avec zoxide)
plugins=(
    git
    git-flow
    symfony-console
    zsh-autosuggestions
    zsh-syntax-highlighting
    async
)

source $ZSH/oh-my-zsh.sh

# Spaceship config
autoload -U promptinit; promptinit
prompt spaceship

# Keybindings
bindkey "\e\e[D" backward-word
bindkey "\e\e[C" forward-word

# TheFuck alias
eval $(thefuck --alias)
eval $(thefuck --alias fuck)

# Zoxide (Remplace zsh-z, génère automatiquement la commande 'z')
eval "$(zoxide init zsh)"

# ----------------------
# Aliases
# ----------------------

# Symfony
alias sf='php bin/console'

# Git
alias gst='git status'
alias gc='git commit'
alias gco='git checkout'
alias gl='git pull'
alias gpom="git pull origin master"
alias gp='git push'
alias gd='git diff | mate'
alias gb='git branch'
alias gba='git branch -a'
alias del='git branch -d'

# Git Flow
alias ffs='git flow feature start'
alias fff='git flow feature finish'

# ngrok
alias ngrok='./ngrok'
